:root {
    /* -- name = class*/
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}
/*overall styling*/
 * {
    box-sizing: border-box;
    margin: 0;
    /*change fonts?*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*what is this??*/
    background: var(--dark);
    color:#fff;
 }

 header {
    padding: 3rem 3rem; /*what does rem stand for?*/
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
 }

 header h1 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 1rem;
 }

 #new-task-form{
    display: flex;
 }

 input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
 }

 #new-task-input {
    /*makes the input box longer*/
    flex: 1 1 0%;
    background-color: var(--darker); 
    /*adds padding around the element*/
    padding: 1rem;
    /*rounds the corners of the box*/
    border-radius: 1rem;
    /*increase margin on the right*/
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
 }

 #new-task-input::placeholder {
    color: var(--gray);
 }

 #new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
 }

 #new-task-submit:hover {
    opacity: 0.8;
 }

 #new-task-submit:active {
    opacity: 0.6;
 }

 main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
 }

 .task-list, .completed-task-list {
    padding: 1rem;
 }

 main h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 1rem;
 }

 #tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;    
 }

 #tasks .task .content .text{
    color: var(--light);
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s
 }

 /*for when the task isn't read only*/
 #tasks .task .content .text:not(:read-only) {
    color: var(--pink);
 }
 
 #tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
 }

 .task .actions button {
    cursor: pointer;
    margin: 0 0.5rem; 
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.4s
 }

 .task .actions button :hover {
   opacity: 0.8;
}

 .task .actions button:active {
   opacity: 0.6;
}

.task .actions .edit {
   color: var(--pink)
}

.task .actions .delete {
   color: crimson
}

.login-form, .signup-form {
   padding: 2rem;  
}

#email-input, #password-input {
   display: flex;
   width: 100%;
   flex-direction: column;
   background-color: var(--darker); 
   padding: 1rem;
   /*rounds the corners of the box*/
   border-radius: 1rem;
   /*increase margin on the right*/
   margin-bottom: 1rem;
   color: var(--light);
   font-size: 1.25rem;
}

#login-form, #signup-form .actions {
   display: flex;
   margin: 0 -0.5rem;
   justify-content: right;
}

#login-form, #signup-form .actions button {
   cursor: pointer;
   margin: 0 0.5rem; 
   font-size: 1.25rem;
   font-weight: 400;
   text-transform: uppercase;
   transition: 0.4s
}

#login-form, #signup-form .actions button:hover {
  opacity: 0.8;
}

#login-form, #signup-form .actions button:active {
  opacity: 0.6;
}

#login-form, #signup-form .actions .login, .signup {
  color: var(--pink)
}

#login-form, #signup-form #email-input, #password-input::placeholder {
   color: var(--gray);
   font-style: italic;
}